- let tocNumber = page.toc_number !== undefined ? page.toc_number : theme.toc.number
- let tocExpand = page.toc_expand !== undefined ? page.toc_expand : theme.toc.expand
- let tocExpandClass = tocExpand ? 'is-expand' : ''

#card-toc.card-widget
  .item-headline
    //- i.fas.fa-stream
    svg.meta_icon(style="width:22px;height:22px;position:relative;top:5px")
      use(xlink:href='#icon-mulu1')
    span(style="font-weight:bold")= _p('aside.card_toc')
    span.toc-percentage

  if (page.encrypt == true)
    .toc-content.toc-div-class(class=tocExpandClass style="display:none")!=toc(page.origin, {list_number: tocNumber})
  else 
    .toc-content(class=tocExpandClass)!=toc(page.content, {list_number: tocNumber})
      