if theme.aside.card_announcement.enable
  .card-widget.card-announcement
    .item-headline
      a.faa-parent.animated-hover
        svg.faa-tada.icon(style="height:25px;width:25px;fill:currentColor;position:relative;top:5px" aria-hidden="true")
          use(xlink:href='#icon-gonggao')
      //- i.fas.fa-bullhorn.fa-shake
      span(style="font-weight:bold")= _p('aside.card_announcement')
      //- i(style="position:relative;padding-left:8px;display:inline-block;vertical-align:middle;")
      //-   svg.icon(style="height:23px;width:23px;fill:currentColor;position:relative;top:3px;animation: ccc 12s linear infinite;")
      //-     use(xlink:href='#icon-shezhi')
    .announcement_content!= theme.aside.card_announcement.content
    //- 添加欢迎访客的信息
    #welcome-info