//- #loading-box
//-   .loading-left-bg
//-   .loading-right-bg
//-   .spinner-box
//-     .configure-border-1
//-       .configure-core
//-     .configure-border-2
//-       .configure-core
//-     .loading-word= _p('loading')


if theme.preloader.enable
  case theme.preloader.load_style    
    when 'gear'
      include ./load_style/gear.pug
    when 'ironheart'
      include ./load_style/ironheart.pug
    when 'scarecrow'
      include ./load_style/scarecrow.pug
    when 'triangles'
      include ./load_style/triangles.pug
    when 'wizard'
      include ./load_style/wizard.pug
    when 'image'
      include ./load_style/image.pug
    when 'spincat'
      include ./load_style/spincat.pug      
    when 'heo'
      include ./load_style/heo.pug   
    default
      include ./load_style/default.pug