//- script.
script(async).
  var preloader = {
    endLoading: () => {
      document.body.style.overflow = 'auto';
      document.getElementById('loading-box').classList.add("loaded")
    },
    initLoading: () => {
      document.body.style.overflow = '';
      document.getElementById('loading-box').classList.remove("loaded")

    }
  }
  window.addEventListener('load',preloader.endLoading())
  setTimeout(function(){preloader.endLoading();}, 5000);
  document.getElementById('loading-box').addEventListener('click',()=> {preloader.endLoading()})